.container {
  margin: 0 auto;
  padding-top: 180px;
  width: 80%;

  .title {
    color: #ffffff;
    font-family: 'AlbertusNova';
    font-size: 48px;
    font-weight: 400;
  }

  .wrapper {
    align-items: start;
    display: grid;
    column-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    row-gap: 100px;
  }
}