.container {
  padding-top: 100px;

  .title {
    color: #ffffff;
    font-family: 'AlbertusNova';
    font-size: 48px;
    font-weight: 400;
  }

  .wrapper {
    align-items: start;
    display: grid;
    column-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    row-gap: 100px;
  }
}

@media (max-width: 1200px) {
  .container {
    
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 850px) {
  .container {
    
    .wrapper {
      grid-template-columns: 1fr;
    }
  }
}