@import '../../../assets/styles/global.scss';

.wrapper {

  .title {
    @include h2;
    
    color: #FFFFFF;
    text-align: center;
  }

  
  .firstRow {
    margin-top: 24px;
  }

  .errorMessage {
    @include body1;

    color: #F44336;
    margin-top: 16px;
    text-align: center;
  }

  .row {
    margin-bottom: 20px;

    .label {
      color: #ffffff;
      margin-bottom: 12px;

      span {
        color: #F44336;
      }
    }

    .input {
      align-items: center;
      background-color: rgba(220, 220, 220, .1);
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      height: 56px;
      padding-left: 12px;
      padding-right: 12px;

      .inputWrapper {
        width: 100%;

        input {
          @include body1;

          background-color: unset;
          border: unset;
          color: #E0E0E0;
          outline: unset;
          width: 100%;

          &::placeholder {
            color: #E0E0E0;
          }
        }
      }

      .eye {
        align-items: center;
        cursor: pointer;
        display: flex;
      }
    }

    .condition {
      @include body2;

      color: #E0E0E0;
      margin-top: 8px;

      .conditionItem {
        align-items: center;
        display: flex;
        gap: 4px;
        margin-bottom: 4px;
      }
    }

    .offer {
      @include body1;

      align-items: center;
      background-color: rgba(220, 220, 220, .1);
      border-radius: 8px;
      color: #E0E0E0;
      display: flex;
      gap: 10px;
      height: 56px;
      justify-content: space-between;
      margin-top: 20px;
      padding-left: 16px;
      padding-right: 16px;

      span {
        color: #EAD40C;
        cursor: pointer;
      }

      label {
        cursor: pointer;

        input {
          display: none;
        }
      }
    }

    .btn {
      margin-top: 24px;

      button {
        width: 100%;
      }
    }

    .enter {
      @include subtitle4m;

      color: #ffffff;
      margin-top: 32px;
      text-align: center;

      span {
        color: #EAD40C;
        cursor: pointer;
      }
    }

    .error {
      border: 1px solid #F44336;
    }

    .errorTxt {
      color: #F44336;
    }
  }

  .rowLast {
    margin-bottom: 0;
  }
}

@media (max-width: 850px) {
  .wrapper {
    width: 100%;
    
    .title {
      font-size: 32px;
    }

    .row {

      .condition {
        font-size: 14px;
      }

      .offer {
        font-size: 14px;
      }

      .enter {
        font-size: 16px;
      }
    }
  }
}