@import '../../assets/styles/global.scss';

.container {
  margin: 160px auto 0;

  .title {
    @include h2;

    color: #ffffff;
    margin-bottom: 75px;
    text-align: center;
  }

  .item {
    margin-bottom: 24px;

    .question {
      @include subtitle2m;

      border-bottom: 1px solid rgba(220, 220, 220, .1);
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      gap: 15px;
      padding-bottom: 18px;
      padding-top: 18px;
    }

    .question.active {
      border-bottom: unset;
    }

    .answer {
      @include subtitle5;

      border-bottom: 1px solid rgba(220, 220, 220, .1);
      color: #E0E0E0;
      display: none;
      line-height: 150%;
      padding-bottom: 24px;
    }

    .answer.open {
      display: block;
    }

    .link {
      color: #EAD40C;
    }

    .listItem {
      display: flex;
      gap: 8px;

      .listImg {
        height: 24px;
        width: 8px;
      }
    }
  }
}

@media (max-width: 850px) {
  .container {
    margin-top: 100px;

    .title {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    margin-top: 100px;

    .title {
      margin-bottom: 40px;
    }

    .item {

      .question {
        font-size: 20px;
      }

      .answer {
        font-size: 16px;
      }

      .paragraph {
        margin-bottom: 8px;
      }

      .listItem {
        margin-bottom: 8px;
      }
    }
  }
}