.btn {
  border-radius: 8px;
  cursor: pointer;
  font-family: 'HelveticaNeue';
  font-weight: 500;
  font-size: 16px;
  padding: 10px 22px;
}

.yellow {
  background-color: #EAD40C;
  color: #1B1E23;
}

.brown {
  background-color: #333217;
  color: #EAD40C;
}