@import "../../../assets/styles/global.scss";

.container {
  padding-top: 200px;

  .wrapper {
    @include subtitle5;

    color: #e0e0e0;
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .intro_pic {
      width: auto;
      height: 100%;
      max-width: 50%;
      object-fit: cover;
    }

    .title {
      font-size: 48px;
      font-weight: 900;
      text-transform: uppercase;
      font-family: "HelveticaNeue";

      .yellow {
        color: #ead40c;
      }
    }

    .info {
      line-height: 1.15;
      margin-top: 24px;
      width: 100%;

      .txt {
        margin-top: 8px;
      }
    }

    .btn {
      display: block;
      margin-top: 24px;

      button {
        @include subtitle6m;

        align-items: center;
        background-color: #ead40c;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        gap: 8px;
        height: 46px;
        padding: 0 22px;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken(#ead40c, 10%);
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .container {
    padding-top: 104px;

    .wrapper {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .intro_pic {
        width: auto;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        margin-top: 40px;
      }

      .title {
        font-size: 24px;
      }

      .info {
        font-size: 16px;
        width: 100%;
      }

      .btn {
        width: 100%;
        button {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}
