.wrapper {
  padding-bottom: 50px;
  padding-top: 50px;

  .title {
    color: #FFFFFF;
    font-family: 'AlbertusNova';
    font-size: 48px;
    margin-bottom: 24px;
    text-align: center;
  }

  .txt {
    color: #E0E0E0;
    font-family: 'HelveticaNeue';
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: center;
  }

  .social {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 32px;
  }

  .back {
    cursor: pointer;
    left: 24px;
    position: absolute;
    top: 32px;
  }
}

@media (max-width: 850px) {
  .wrapper {
    
    .title {
      font-size: 32px;
    }

    .txt {
      font-size: 16px;
    }
  }
}