@import '../../../assets/styles/global.scss';

.wrapper {
  padding-bottom: 50px;
  padding-top: 50px;

  .title {
    @include h2;

    color: #FFFFFF;
    margin-bottom: 24px;
    text-align: center;
  }

  .txt {
    @include subtitle5;

    color: #E0E0E0;
    margin-bottom: 8px;
    text-align: center;
  }

  .social {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 32px;
  }

  .back {
    cursor: pointer;
    left: 24px;
    position: absolute;
    top: 32px;
  }
}

@media (max-width: 850px) {
  .wrapper {
    
    .title {
      font-size: 32px;
    }

    .txt {
      font-size: 16px;
    }
  }
}