@import '../../../assets/styles/global.scss';

.wrapper {
  background-image: url('../../../assets/images/tournaments.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 180px;
  padding-bottom: 80px;

  .container {
    margin: 0 auto;
    width: 80%;

    .header {
      align-items: center;
      border-bottom: 1px solid #E0E0E059;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 31px;
      margin-bottom: 24px;

      .month {
        @include subtitle1b;

        align-items: center;
        color: #fff;
        display: flex;
        gap: 20px;
        justify-content: center;

        .arrowWrapper {
          align-items: center;
          background-color: #FAF9F833;
          border-radius: 8px;
          cursor: pointer;
          display: flex;
          height: 32px;
          justify-content: center;
          width: 32px;
        }

        .monthTxt {
          align-items: center;
          display: flex;
          padding-top: 5px;
        }
      }

      .filter {
        align-items: center;
        display: flex;
        gap: 12px;
        justify-content: flex-end;

        .filterWrapper {
          @include body1;

          align-items: center;
          background-color: #DCDCDC0D;
          border-radius: 100px;
          color: #E0E0E0;
          display: flex;
          justify-content: center;
          padding: 10px 16px;
        }
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr); /* 7 колонок, по одной для каждого дня недели */
    }

    .dayOfWeek {
      text-align: center;
      margin-bottom: 24px;
    }

    .dayOfWeekWrapper {
      background-color: #FFFFFF;
      border-radius: 100px;
      color: #1B1E23;
      display: inline;
      font-size: 14px;
      font-weight: 500;
      padding: 6px 12px;
    }

    .day, .dayEmpty {
      border: 1px solid #DCDCDC1A;
      padding: 10px;
      color: #fff;
      background-color: #000000A6;
      border-radius: 8px;
      height: 217px;
    }

    .dayEmpty {
      background-color: transparent; /* Прозрачные ячейки для пустых дней */
      border: none;
    }
  }
}