.wrapper {

  .container {
    padding-top: 100px;

    .title {
      color: #ffffff;
      font-family: 'AlbertusNova';
      font-size: 48px;
      font-weight: 400;
    }

    .account {
      background-image: url('../../assets/images/profile.png');
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px;
      margin-top: 24px;
      padding: 16px 21px;

      .mobEdit {
        display: none;
      }

      .header {
        align-items: center;
        border-bottom: 1px solid #DCDCDC1A;
        display: flex;
        justify-content: space-between;
        padding-bottom: 22px;

        .headerLeft {
          align-items: center;
          color: #ffffff;
          display: flex;
          font-family: 'HelveticaNeue';
          font-size: 24px;
          font-weight: 700;
          gap: 8px;
        }
      }

      .main {
        align-items: center;
        display: flex;
        gap: 12px;
        margin-bottom: 24px;
        margin-top: 20px;

        .profileImg {
          width: 84px;
        }

        .name {
          align-items: center;
          color: #ffffff;
          display: flex;
          gap: 5px;
          font-family: 'HelveticaNeue';
          font-size: 20px;
          font-weight: 500;

          .id {
            color: #E0E0E0;
            font-weight: 400;
          }

          .copy {
            cursor: pointer;
          }
        }

        .address {
          color: #E0E0E0;
          font-family: 'HelveticaNeue';
          font-size: 20px;
          font-weight: 400;
          margin-top: 8px;
        }
      }

      .info {
        display: flex;
        gap: 80px;

        .infoItem {
          color: #E0E0E0;
          display: flex;
          gap: 8px;
          font-family: 'HelveticaNeue';
          font-size: 20px;
          font-weight: 400;

          .steam {
            display: flex;
            gap: 4px;
            margin-bottom: 8px;

            .copy {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .wrapper {

    .container {

      .account {

        .mobEdit {
          display: flex;
          justify-content: end;
          margin-bottom: 12px;
        }

        .header {

          .headerLeft {
            font-size: 20px;
          }

          .headerRight {
            display: none;
          }
        }

        .main {
          display: block;

          .name {
            margin-top: 12px;
          }
        }

        .info {
          display: block;
          margin-top: 24px;

          .infoItem {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}