@import '../../assets/styles/global.scss';

.container {
  padding-top: 124px;
  transition: all .2s linear;

  .title {
    @include h2;

    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
   
    .filter {
      align-items: center;
      background-color: #333217;
      border-radius: 8px;
      color: #EAD40C;
      display: flex;
      font-size: 16px;
      font-weight: 500;
      gap: 8px;
      height: 46px;
      padding: 10px 22px;
    }
  }

  .wrapper {
    align-items: start;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
  }

  .more {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
  }

  .up {
    cursor: pointer;
    position: absolute;
    right: 0;
  }
}

@media (max-width: 1200px) {
  .container {
    
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 850px) {
  .container {
    padding-top: 104px;

    .title {
      display: block;
      font-size: 36px;

      .filter {
        display: inline-flex;
        margin-top: 32px;
      }
    }
    
    .wrapper {
      grid-template-columns: 1fr;
      margin-top: 24px;
    }
  }
}