@import '../../assets/styles/global.scss';

.container {
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .0);
  border-radius: 8px;
  padding: 12px 16px 21px;
  transition: all .2s linear;

  .imgWrapper {
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 136px;
    justify-content: center;
  }

  img {
    width: 100%;
  }

  .productName {
    @include subtitle6m;

    border-bottom: 1px solid rgba(220, 220, 220, .1);
    color: #ffffff;
    margin-top: 24px;
    padding-bottom: 19px;
  }

  .productPrice {
    @include subtitle3b;

    color: $c-yellow;
    margin-top: 24px;
  }

  .btn {

    button {
      @include subtitle6m;

      background-color: #EAD40C;
      border-radius: 8px;
      cursor: pointer;
      height: 46px;
      margin-top: 24px;
      transition: all .2s linear;
      width: 100%;

      .loader {
        animation: spin .5s linear infinite;
        width: 24px;
      }

      &:hover {
        background-color: #FFEB31;
      }
    }
  }

  &:hover {
    border: 1px solid #EAD40C;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}