@import '../../assets/styles/global.scss';

.container {
  padding-top: 200px;

  .wrapper {
    @include subtitle5;

    color: #E0E0E0;
    width: 60%;

    .title {
      font-size: 48px;
      font-weight: 700;

      .yellow {
        color: #EAD40C;
      }
    }

    .info {
      line-height: 115%;
      margin-top: 24px;

      .txt {
        margin-top: 8px;
      }
    }

    .btn {
      display: block;
      margin-top: 24px;

      button {
        @include subtitle6m;

        align-items: center;
        background-color: #EAD40C;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        gap: 8px;
        height: 46px;
        padding-left: 22px;
        padding-right: 22px;
      }
    }
  }
}

@media (max-width: 850px) {
  .container {

    .wrapper {
      width: 100%;

      .title {
        font-size: 24px;
      }

      .info {
        font-size: 16px;
      }
    }
  }
}