.wrapper {
  margin-top: 200px;
  margin-bottom: 50px;

  .container {

    .social {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      .left {
        align-items: center;
        display: flex;
        gap: 24px;
      }

      .right {
        align-items: center;
        display: flex;
        gap: 24px;

        .socialItem {
          path {
            transition: all .2s linear;
          }
        }

        .socialItem:hover path {
          fill: #EAD40C;
        }
      }
    }

    .license {
      color: #E0E0E0;
      font-family: 'HelveticaNeue';
      font-size: 12px;
      font-weight: 400;
      margin: 0 auto;
      text-align: center;
      width: 70%;
    }
  }
}

@media (max-width: 850px) {
  .wrapper {
    margin-top: 100px;

    .container {
      
      .social {
        display: block;

        .left {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin: 0 auto;
          width: 300px;
        }

        .right {
          margin: 24px auto;
          width: 300px;
        }
      }
    }
  }
}