@import '../../assets/styles/global.scss';

.container {
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .0);
  border-radius: 8px;
  padding: 16px;
  transition: all .2s linear;

  .imgWrapper {
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 200px;
    justify-content: center;
  }

  .chestTitleWrapper {
    border-bottom: 1px solid rgba(220, 220, 220, .1);
    margin-top: 18px;
    padding-bottom: 12px;

    .chestTitle {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .chestName {
        @include subtitle3b;

        color: #AE6FFF;
        height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .chestStatus {
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 20px;
      }

      .chestStatusActive {
        background-color: #11362C;
        color: #07EF9C;
      }

      .chestStatusSoon {
        background-color: #333217;
        color: #EAD40C;
      }

      .chestStatusCompleted {
        background-color: #351C1D;
        color: #F44336;
      }
    }
  }

  .questName {
    @include subtitle1b;

    color: #ffffff;
    // height: 50px;
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .questTask {
    @include body1;

    color: #E0E0E0;
    height: 70px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .labels {
    display: flex;
    gap: 16px;
    margin-top: 16px;

    .label {
      border-radius: 8px;
      font-family: 'Inter';
      font-size: 16px;
      font-weight: 500;
      padding: 12px;
    }

    .pm {
      background-color: rgba(241, 248, 19, .15);
      color: #F1F813;
    }

    .dota {
      background-color: rgba(191, 46, 26, .15);
      color: #BF2E1A;
    }
  }

  .btn {


    button {
      @include subtitle6m;

      background-color: #EAD40C;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
      width: 100%;
    }
  }

  &:hover {
    border: 1px solid #EAD40C;
  }
}

@media (max-width: 850px) {
  .container {

    .questTask {
      height: unset;
    }
  }
}