.container {
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .0);
  border-radius: 8px;
  padding: 20px 16px;
  transition: all .2s linear;

  .img {
    position: relative;

    img {
      width: 100%;
    }

    .chestPrice {
      background-color: #193B41;
      border-radius: 2px;
      bottom: 0;
      left: 50%;
      color: rgba(255, 255, 255, 0);
      font-family: 'HelveticaNeue';
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 3px;
      padding-left: 41px;
      padding-right: 41px;
      padding-top: 3px;
      position: absolute;
      transform: skewX(-15deg) translateX(-50%);
    }

    .price {
      bottom: 0;
      left: 50%;
      color: #0CDCEA;
      font-family: 'HelveticaNeue';
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 3px;
      padding-left: 41px;
      padding-right: 41px;
      padding-top: 3px;
      position: absolute;
      transform: translateX(-50%);
    }
  }

  .chestTitleWrapper {
    border-bottom: 1px solid rgba(220, 220, 220, .1);
    margin-top: 24px;
    padding-bottom: 24px;

    .chestTitle {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .chestName {
        color: #0CDCEA;
        font-family: 'HelveticaNeue';
        font-size: 20px;
        font-weight: 700;
      }

      .chestStatus {
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 20px;
      }

      .chestStatusActive {
        background-color: #11362C;
        color: #07EF9C;
      }

      .chestStatusSoon {
        background-color: #333217;
        color: #EAD40C;
      }

      .chestStatusCompleted {
        background-color: #351C1D;
        color: #F44336;
      }
    }
  }

  .questName {
    color: #ffffff;
    font-size: 24px;
    font-family: 'HelveticaNeue';
    font-weight: 700;
    margin-top: 24px;
  }

  .questTask {
    color: #E0E0E0;
    font-family: 'HelveticaNeue';
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
  }

  .labels {
    display: flex;
    gap: 16px;
    margin-top: 16px;

    .label {
      border-radius: 8px;
      font-family: 'Inter';
      font-size: 16px;
      font-weight: 500;
      padding: 12px;
    }

    .pm {
      background-color: rgba(241, 248, 19, .15);
      color: #F1F813;
    }

    .dota {
      background-color: rgba(191, 46, 26, .15);
      color: #BF2E1A;
    }
  }

  .btn {


    button {
      background-color: #EAD40C;
      border-radius: 8px;
      cursor: pointer;
      font-family: 'HelveticaNeue';
      font-size: 16px;
      font-weight: 500;
      margin-top: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
      width: 100%;
    }
  }

  &:hover {
    border: 1px solid #EAD40C;
  }
}