.wrapper {
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  .container {
    background-color: #1B1E23;
    border-radius: 8px;
    max-height: 90%;
    max-width: 700px;
    overflow-y: scroll;
    padding: 20px 40px;
    position: relative;
    width: 100%;

    .closeBtn {
      cursor: pointer;
      position: absolute;
      right: 24px;
      top: 20px;
    }
  }

  .container::-webkit-scrollbar {
    width: 8px;
  }
  
  .container::-webkit-scrollbar-track {
    background: #242424;
  }
  
  .container::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 4px;
    height: 54px;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media (max-width: 850px) {
  .wrapper {

    .container {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}