@import "../../assets/styles/global.scss";

.wrapper {
  // background: rgb(97, 0, 255);
  // background: linear-gradient(0deg, rgba(97, 0, 255, 0) 0%, rgba(97, 0, 255, 0.17) 100%);
  position: relative;
  background-color: rgba(217, 217, 217, 0.1);
  

  .info {
    @include df-aic;

    .section {
      margin-left: 150px;
      margin-top: 260px;
      margin-bottom: 250px;
      .group {
        max-width: 820px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 20px;
        .title {
          font-weight: 900;
          font-size: 40px;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          color: #ffffff;
          font-family: "HelveticaNeue";
        }
        .subtitle {
          color: #ffffff;
          font-weight: 500;
          font-size: 24px;
          font-family: "HelveticaNeue";
        }
        .btn {
          border-radius: 8px;
          width: 113px;
          height: 50px;
          background-color: #ead40c;
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 20px;
          line-height: 130%;
          text-transform: capitalize;
          color: #1b1e23;
        }
      }
    }
    .container {
      color: #ffffff;
      z-index: 2;

      .title {
        @include h1;

        margin-bottom: 20px;
        font-weight: 700;
      }

      .subtitle {
        @include subtitle5;

        line-height: 120%;
        margin-bottom: 24px;
        width: 45%;
      }

      .btn {
        @include subtitle6m;

        border-radius: 8px;
        cursor: pointer;
        padding: 10px 22px;
      }

      .reg {
        background-color: #ead40c;
        color: #1b1e23;
      }

      .platforms {
        @include df-aic;

        gap: 32px;
        margin-top: 40px;
      }
    }
  }

  .bannerDesk {
    background-image: url("../../assets/images/banner.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .banner {
    display: none;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    .info {
      .section {
        margin-left: 50px;
        margin-top: 100px;
      }
      .container {
        .title {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .wrapper {
    background: rgb(97, 0, 255);
    background: linear-gradient(
      0deg,
      rgba(97, 0, 255, 0) 0%,
      rgba(97, 0, 255, 0.17) 100%
    );
    display: block;
    padding-top: 100px;

    .info {
      height: unset;

      .container {
        .title {
          @include h2;

          width: 100%;
        }

        .subtitle {
          width: 90%;
        }

        .platforms {
          img {
            width: 180px;
          }
        }
      }
    }

    .bannerDesk {
      display: none;
    }

    .banner {
      display: block;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper {
    .info {
      .section {
        margin-left: 19px;
        .group {
          max-width: 342px;
          width: 100%;
          .subtitle {
            font-size: 20px;
          }
          .title {
            font-size: 25px;
          }
          .btn {
            font-size: 18px;
          }
        }
      }
      .container {
        z-index: 0;

        .platforms {
          img {
            width: 150px;
          }
        }
      }
    }
  }
}
