.wrapper {
  background: rgb(12, 220, 234);
  background: linear-gradient(0deg, rgba(12, 220, 234, 0) 0%, rgba(12, 220, 234, 0.12) 100%);
  // background-position-y: 50px;
  position: relative;

  .info {
    align-items: center;
    display: flex;
    height: 100vh;

    .container {
      color: #ffffff;
      font-family: 'HelveticaNeue';

      .title {
        font-size: 64px;
        margin-bottom: 16px;
        font-weight: 700;
      }

      .subtitle {
        font-family: 'HelveticaNeue';
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 24px;
        width: 50%;
      }

      .btn {
        border-radius: 8px;
        cursor: pointer;
        font-family: 'HelveticaNeue';
        font-weight: 500;
        font-size: 16px;
        padding: 10px 22px;
      }

      .reg {
        background-color: #EAD40C;
        color: #1B1E23;
      }

      .platforms {
        align-items: center;
        display: flex;
        gap: 32px;
        margin-top: 40px;
      }
    }
  }

  .bannerDesk {
    background-image: url('../../assets/images/banner.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .banner {
    display: none;
  }
}

@media (max-width: 1000px) {
  .wrapper {

    .info {

      .container {

        .title {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .wrapper {
    display: block;
    padding-top: 100px;

    .info {
      height: unset;

      .container {

        .title {
          font-size: 48px;
          width: 100%;
        }

        .subtitle {
          width: 90%;
        }

        .platforms {

          img {
            width: 180px;
          }
        }
      }
    }

    .bannerDesk {
      display: none;
    }

    .banner {
      display: block;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper {

    .info {
      .container {

        .title {
          font-size: 48px;
        }

        .platforms {

          img {
            width: 150px;
          }
        }
      }
    }
  }
}